# Base de données MongoDB Atlas
DATABASE_URL="mongodb+srv://Inoscence_db_user:<7YF213u1xSK8Jb7a>@cluster0.u1czg6n.mongodb.net/?appName=Cluster0"

# NextAuth.js
NEXTAUTH_SECRET="votre-secret-ici-generer-avec-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
