# Base de données MongoDB Atlas
DATABASE_URL="mongodb+srv://<user>:<password>@<cluster>.mongodb.net/ecoscience?retryWrites=true&w=majority"

# NextAuth.js
NEXTAUTH_SECRET="votre-secret-ici-generer-avec-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
